{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>Book</title>
</head>
<body>
    <header>
        <h1>Це сторінка книги</h1>
    </header>
    <br>
    <button id="main_btn" name = "main"><a href="{% url 'main' %}">До головної сторінки</a></button> <button id="author_btn" name = "author"><a href="{% url 'author' %}">До сторінки автора</a></button>
    <h2>«Метро 2033»</h2>
    <img src="{% static 'images/Metro_2033_cover.jpg' %}", alt = "Error">
    <p> Постапокаліптичний роман Дмитра Глуховського, що описує життя людей у московській підземці після ядерної війни. Вийшов у видавництві «Эксмо» 2005 року, перевиданий видавництвом «Популярна література» в 2007 році. 
        На європейському літературному конкурсі EuroCon роман назвали «Найкращим дебютом» 2007 року.

        Менш ніж за три місяці тираж перевидання в 100 тисяч екземплярів був повністю проданий, видавництво випустило додатковий 100-тисячний тираж, який був розпроданий менш ніж за рік до травня 2008 року, третій тираж становить 50 тисяч екземплярів. Одна з презентацій пройшла в розсекреченому бункері Міністерства зв'язку расеї на Таганці на глибині 60 метрів. Роман також ліг в основу відеогри Metro 2033.</p>
    <br>
    <h3>Світ Метро 2033</h3>
    <p>Книга розповідає про людей, які залишилися живими після ядерної війни 2013 року. Майже всі події розгортаються в московській підземці, де на станціях і в переходах живуть люди. Завдяки оперативним діям служб цивільної оборони метрополітен вдалося захистити від радіації: майже на всіх станціях були закриті гермоворота, а в вентиляційних системах активовані протирадіаційні фільтри. Діяли також фільтри для води. Судячи зі всього, в момент загибелі Москви в метро зуміли укритися близько 70 тисяч людей. За двадцять років після ядерної війни в метро живе близько 50 тисяч людей. При цьому лише половина станцій заселена: частина станцій закинута, частина ізольована обвалами тунелів, частина згоріла. Деякі захоплені істотами з поверхні. В романі війна згадується лише побіжно. В результаті обміну ядерними ударами всі великі міста були стерті з лиця Землі.</p>
    <img src="{% static 'images/img1.jpeg' %}", alt ="Error", height="500">
    <p>Жителі метро харчуються тим, що змогли виростити в тунелях. В основному це гриби, що не потребують світла, проте на деяких станціях Ганзи й Севастопольської імперії вирощують також картоплю, помідори та огірки. Також на деяких станціях вигодовують свиней та інших тварин. Ряд станцій забезпечуються електрикою від генераторів різного типу, проте в силу їх малої потужності на станціях часто діє тільки малопотужне аварійне освітлення. Більшість предметів побуту (без врахування тих, що були в метро спочатку), а також зброя, медикаменти, паливо тощо добуваються численними сталкерами, що час від часу підіймаються в напівзруйноване місто. В підземному місті діє торгівля, універсальною валютою є патрони, виготовлені ще до війни.</p> 
    <img src="{% static 'images/img2.jpg' %}",alt = "Error", height="500">
    <p>Невдовзі після ядерної війни централізована система метрополітену розпалась. Станції стали існувати окремо одна від одної. Деякі об'єднувалися навколо ідей, релігій, фільтрів для води й т. д. На момент описаних в книзі подій найбільшими угрупованнями московського метро є: Поліс, Червона лінія, Співдружність станцій Кільцевої лінії («Ганза»), Четвертий Рейх, Смарагдове місто, Співдружність ВДНГ, Ферми та факторії, Арбатська конфедерація, Бауманський альянс, Конфедерація 1905 року, існують також кілька соціальних угруповань.</p>
    <img src="{% static 'images/img3.jpg' %}",alt="Error",height = "600">
    <footer>
        <button class = "sourse_btn"><a href="https://www.iamag.co/the-art-of-metro-2033-last-light">Першоджерело картинок</a></button> <button class = "sourse_btn"><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D1%80%D0%BE_2033_(%D1%80%D0%BE%D0%BC%D0%B0%D0%BD_2005)">Першоджерело тексту</a></button>
    </footer>
</body>
</html>